<ul class="list-group">
  <li class="list-group-item">
    <strong>Professions</strong>
    <span class="pull-right">
      <gnome-professions></gnome-professions>
    </span>
  </li>
  <li class="list-group-item">
    <strong>Height</strong>
    <span class="pull-right">{{gnome.height}}</span>
  </li>
  <li class="list-group-item">
    <strong>Weight</strong>
    <span class="pull-right">{{gnome.weight}}</span>
  </li>
  <li class="list-group-item">
    <strong>Friends</strong>
    <ul>
      <li ng-repeat="friend in gnome.friends">
        <a href="/#/gnome/name/{{friend}}">
            {{friend}}
          </a>
      </li>
    </ul>
  </li>
</ul>